<% layout('layout') -%>
    <div class="container-fluid width-fluid">
        <div class="content container">
            <div id="productList" class="row">
                <% products.forEach(function(product) {%>
                    <h2><span><%= product.name %></span></h2>
                    <h5><span><%= product.price %></span></h5>
                    <% }); %>
            </div>
        </div>
    </div>