<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body class="width-fluid">
    <header>
        <% include partials/header.ejs %>
    </header>
    <main>
        <div class="container-fluid width-fluid">
            <header class="padding-left-top-5 bg-primary">
                <h1 class="clear-margin-top"><%= title%></h1>
            </header>
            <div class="content">
                <div id="productList" class="row">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include partials/footer.ejs %>
    </footer>
</body>

</html>