<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <header>
        <% include partials/header.ejs %>
    </header>
    <main>
        <div class="container-fluid">
            <header>
                <h2><%= title%></h2>
                <p>Happy every day</p>
            </header>

            <div class="content"></div>
        </div>
    </main>
    <footer>
        <% include partials/footer.ejs %>
    </footer>
</body>

</html>