<% include partials/head.ejs %>
    <body class="width-fluid">
        <% include partials/header.ejs %>
        <main>
            <%- body %>
        </main>
        <% include partials/footer.ejs %>
    </body>
</html>