<% include partials/head.ejs %>

    <body class="width-fluid">
        <% include partials/header.ejs %>
            <header class="padding-left-top-5 bg-primary">
                <h1 class="clear-margin-top"><%= title%></h1>
            </header>
            <main>
                <%- body %>
            </main>
           
    </body>
    </html>