html,
body {
    height: 100%;
}

body {
    padding: 3%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

main {
    height: inherit;
}

.container-fluid {
    height: inherit;
}

.width-fluid {
    padding-left: 0;
    padding-right: 0;
}

.clear-margin-top {
    margin-top: 0;
}

.padding-left-top-7 {
    padding: 7%;
}

.padding-left-7 {
    padding-left: 7%;
}

main header h1 {
    font-size: 60px;
}